<!--<div class="ui relaxed divided list">
    {{#each model as |device|}}
        <div class="item">
            <div class="content">
                <a class="header">{{device.devName}}</a>
                <div class="description">{{device.devEui}}</div>
            </div>
        </div>
    {{/each}}
</div>-->

<table class="ui celled table">
  <thead>
    <tr><th>Название</th>
    <th>Идентификатор</th>
    <th>Класс</th>
    <th>Последний выход на связь</th>
  </tr></thead>
  <tbody>
    {{#each model as |device|}}
        <tr>
            <td>
                {{#link-to "device-data" device.id}}
                  {{device.devName}}
                {{/link-to}}
            </td>
            <td>{{device.devEui}}</td>
            <td>{{device.class}}</td>
            <td>{{device.last_data_ts_strokoi}}</td>
        </tr>
    {{/each}}
  </tbody>
</table>